# streamlit
# langchain==0.0.319
# langchain-community
# langchain-openai
# chromadb
# sentence-transformers
# pypdf


streamlit==1.28.2
torch==2.0.1
sentence-transformers==2.2.2
transformers==4.33.3
langchain==0.0.350
langchain-community==0.0.15
langchain-openai==0.0.5
chromadb==0.4.22