# streamlit
# langchain==0.0.319
# langchain-community
# langchain-openai
# #chromadb
# chromadb==0.4.14
# sentence-transformers
# pypdf
# openai>=1.3.8


# streamlit
# langchain==0.0.319
# openai==0.28.1
# chromadb==0.4.14
# sentence-transformers
# pypdf
# pdfplumber

streamlit
langchain==0.0.319
openai==0.28.1
chromadb==0.4.14
sentence-transformers==2.2.2
transformers==4.36.2
torch==2.2.2
pypdf
pdfplumber


